html,
body {
    display: block;
}

.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}

html {
    height: 100%;
}

html {
    font-size: 62.5%;
    height: 100%;
}

a:link {
    color: #BB501C;
    text-decoration: none;
}

a:link,
a:visited {
    color: #BB501C;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0 0 0.6em 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

html {
    display: block;
    color: -internal-root-color;
    -webkit-locale: "en-US";
}

head {
    display: none;
}

title,
meta,
link,
script,
style,
head {
    display: none;
}

div {
    display: block;
}

body,
input {
    font-family: "Oracle Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    color: #1A1816;
    background: #F1F0EB;
    font-size: 1.6rem;
    line-height: 1.3;
    min-width: 280px;
    height: 100%;
}

.f17v2 {
    padding: 0;
    margin: 0;
}

.f17v2 .f17w1 {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
}

.f17v2 .f17w1:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(fondoempresa.jpg) !important;
    background-position: 58% 20% !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100% !important;
    z-index: 0;
    animation: f17imgfade 0.5s 0s 1 cubic-bezier(0, 0, 0.2, 1) forwards;
}

#u16 {
    display: none;
}

.cb41 {
    margin: 0;
    clear: both;
    position: relative;
    z-index: 1;
    animation: cb41FadeIn 1.2s 0s 1 cubic-bezier(0, 0, 0.2, 1) forwards;
}

.cb41 h2 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 18px 0;
    font-size: 3rem;
}

.cb41w1+.cb41w1 {
    margin-top: -3rem !important;
    padding-bottom: 24px;
}

.cb41w1 {
    width: 400px;
    padding: 30px;
    margin: 6rem auto;
    background: #FCFBFA;
    border-radius: 8px;
}

form {
    display: block;
    margin-top: 0em;
}

ul {
    list-style-type: disc;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input[type="hidden" i] {
    display: none;
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.cb41w2 {
    z-index: 100;
}

.cb41w2,
.cb41w3 {
    border-bottom: 2px solid #CBC5BF;
    position: relative;
    padding: 2.4rem 0 1rem 0;
    height: 3.4rem;
}

.cb41w1 label {
    display: block;
    color: #70665E;
    width: 100%;
    position: absolute;
    font-size: 1.8rem;
    bottom: 22%;
    transition: font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

label {
    cursor: default;
}

.hideFromScreen {
    position: absolute;
    left: -9999px;
    text-indent: -9999px;
}

@media (max-width: 1070px) and (min-width: 501px) {
    .cb41w1 input[type="text"],
    .cb41w1 input[type="password"] {
        top: 38%;
    }
}

.cb41w1 input[type="text"],
.cb41w1 input[type="password"] {
    font-weight: 500;
    background: none;
    color: #3F3A36;
    width: 80%;
    border: none;
    height: 1.8em;
    position: absolute;
    left: 0%;
    outline: 0;
    font-size: 1.8rem;
    top: 36%;
    z-index: 3;
}

.cb41w5 {
    display: block;
    position: absolute;
    left: 373px;
    top: 27px;
    text-align: left;
}

@media (max-width: 1070px) and (min-width: 501px) {
    .cb41w6 {
        float: right;
    }
}

.cb41w6 {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.cb41w1 .cb41noteshoverbtn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    border-radius: 50% 50%;
    background: #3F3A36;
    display: inline-block;
    display: inline-block;
    position: relative;
    z-index: 3;
    cursor: pointer;
    outline-offset: 0;
    transition: outline-offset .1s linear;
}

.cb41w1 .cb41noteshoverbtn:before {
    content: "i";
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 3px;
}

@media (max-width: 1070px) and (min-width: 501px) {
    .cb41w5 .cb41notescontent {
        left: auto;
        right: -15px;
        padding: 20px;
        margin: 75px 0 0 0;
        width: 340px;
    }
}

.cb41w1 .cb41notescontent {
    z-index: 5;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4;
    left: 315px;
    top: -52px;
    display: none;
    opacity: 0;
    width: 250px;
    padding: 25px;
    margin: 0;
    color: #fff;
    background: #3F3A36;
    float: right;
    text-align: left;
    vertical-align: middle;
    border-radius: 8px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1070px) and (min-width: 501px) {
    .cb41w5 .cb41notescontent .cb41arrow {
        position: absolute;
        top: -17px;
        left: auto;
        right: 0;
        width: 80px;
        height: 20px;
    }
}

.cb41w1 .cb41notescontent .cb41arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    width: 16px;
}

.cb41w1 .cb41notescontent a {
    color: #fff;
    text-decoration: underline;
}

.cb41btnhvr {
    display: none;
}

.cb41w7 {
    height: auto;
    padding: 0 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.error-hide {
    display: none;
}

.cb41error {
    position: relative;
    padding: 0;
}

.cb41error {
    color: #C54A39;
}

.cb41w4 {
    margin-top: 6px;
    clear: both;
}

.cb41w4 span {
    display: block;
    border: #6A9D67 2px solid;
    border-radius: 6px;
    transition: background .15s ease, border .15s ease;
}

.cb41 input[type="button"],
.cb41 input[type="submit"] {
    background: #6A9D67;
    width: 100%;
    padding: 8px 16px;
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    color: #FFF;
    transition: background .15s ease, border .15s ease;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 2px solid #6A9D67;
    border-radius: 4px;
    outline: 0;
}

input[type="button" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.cb41 .need-help {
    text-align: center;
    margin: 24px 0 0 0;
}

.need-help {
    text-align: center;
    padding-top: 10px;
}

.cb41w1 {
    width: 400px;
    padding: 30px;
    margin: 6rem auto;
    background: #FCFBFA;
    border-radius: 8px;
}

.cb41w1+.cb41w1 {
    margin-top: -3rem !important;
    padding-bottom: 24px;
}

.cb41 h3 {
    text-align: center;
    font-weight: normal;
    font-size: 2.4rem;
    margin: 0 0 0.7em 0;
}

.cb41w4 {
    margin-top: 6px;
    clear: both;
}

.cb41w1+.cb41w1 .cb41w4 span {
    border-width: 0;
    padding: 1px 0;
}

.cb41w4 span {
    display: block;
    border: #6A9D67 2px solid;
    border-radius: 6px;
    transition: background .15s ease, border .15s ease;
}

.cb41w1 .cb41create-btn {
    font-size: 1.8rem;
    background: transparent;
    color: #3F3A36;
    padding: 10px 16px;
    border: 1px solid #3F3A36;
    border-radius: 4px;
    font-weight: 500;
    margin: 1px 0;
    width: auto;
    display: block;
    text-align: center;
    transition: background .2s linear, color .3s linear;
    outline: 0;
}

.u17 {
    position: relative;
}

.u17 ul {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin-top: 20px;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

.u17 ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.u17 ul li:first-child:before {
    content: "";
}

.u17 ul li:before {
    content: "|";
    position: absolute;
    left: 0;
}

.u17 ul li {
    display: inline-block;
    position: relative;
    padding: 3px 0 0 8px;
    margin: 0 0 0 6px !important;
    color: #3F3A36;
}

.u17 ul li:before {
    content: "|";
    position: absolute;
    left: 0;
}

.cb41 li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    clear: both;
}

.u17 li,
.u17 a {
    font-size: 1.3rem;
}

ul li {
    list-style-type: disc;
}

.cb41w1 li+li {
    margin-top: 24px;
}